.scroll_icon {
    animation: slide-up-down 0.5s infinite alternate;
}

@keyframes slide-up-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
